---
import { supabase } from '../lib/supabase';

let { data: users, error } = await supabase
  .from('users')
  .select('*')

console.log(users, error);
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="../styles/index.css" />
		<title>Gestor de Tareas</title>
	</head>
  <body>
    <header class="header">
      <div class="logo">Gestor de tareas</div>
      <nav class="nav">
        <a href="/login" class="btn">Iniciar sesión</a>
        <a href="/registro" class="btn">Registrarte</a>
      </nav>
    </header>

    <main class="hero">
      <div class="hero-image">
        <div class="image-placeholder">
          <img src="/src/images/imagen_inicio.png" />          
        </div>
      </div>
      <div class="hero-text">
        <h1>Organiza tus tareas de forma moderna</h1>
        <p>
          Este sistema te permitirá registrar, organizar y seguir el progreso de tus tareas 
          de manera simple, intuitiva y con un estilo futurista.
        </p>
        <a href="/registro" class="btn-neon">Empezar</a>
        <a href="/gestor" class="btn-neon">Empezarrrr</a>
      </div>
    </main>

    <footer class="footer">
      <p>© 2025 Gestor de Tareas - Hecho por estudiantes de la Universidad de La Serena</p>
    </footer>
  </body>
</html>
