---
import { supabase } from '../../lib/supabase';

let { data: users, error } = await supabase
  .from('users')
  .select('*')

console.log(users, error);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<a href="/registro">
		<button>Ir al Registro</button>
		</a>
	</body>
</html>
